
  <header class="header header-5">
    <div class="branding">
      <a class="logo-and-title" (click)="Go()">
          <span class="logo-container"><img class="logo" src="./assets/logo.png"></span>
          <span class="title">COMPREHENSIVE INTEGRATED ACTION</span>
      </a>
  </div>
  <div class="divider"></div>
  <div class="header-nav clr-nav-level-1">
      <!-- <a class="nav-link" id="home-link" routerlink="/" routerlinkactive="active" href="/"><span class="nav-text">Home</span></a>
      
      <a class="nav-link active" routerlink="/documentation" routerlinkactive="active" href="/documentation"><span class="nav-text">Documentation</span></a>
      <a class="nav-link" routerlink="/icons" routerlinkactive="active" href="/icons"><span class="nav-text">Icons</span></a>
      <a class="nav-link" routerlink="/community" routerlinkactive="active" href="/community"><span class="nav-text">Community</span></a>
      <a class="nav-link" routerlink="/news" routerlinkactive="active" href="/news"><span class="nav-text">What's New</span></a> -->
  </div>
  <div class="settings setting">
    <clr-icon shape="cog" size="32"></clr-icon>
</div>
  </header>
