<div class="container-fluid">
    <div class="card">
      	<div class="card-header custom-bg">Simulator</div>
      	<div class="card-block">
        	<div class="row">
          		<div class="col-lg-8">
					<div class="card">
						<div class="card-header custom-bg">TGIF Score and Tourist Visit </div>
						<div class="card-block">
							<div echarts [options]="visit" class="echart"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div class="card-header custom-bg">External Factor</div>
						<div class="card-block" style="margin:10px;">
							<div class="form-group">
								<label for="aForm_1">Exchange Rate 1 USD - IDR</label>
								<input type="text" id="aForm_1" placeholder="Enter value here" size="25">
							</div>
							<div class="form-group">
								<label for="aForm_1">Hotel Rate (US$)</label>
								<input type="text" id="aForm_1" placeholder="Enter value here" size="25">
							</div>
							<div class="form-group">
								<label for="aForm_1">Tourist Campaign Budget</label>
								<input type="text" id="aForm_1" placeholder="Enter value here" size="25">
							</div>
							<div class="form-group">
								<label for="aForm_1">International Travel Expo</label>
								<input type="text" id="aForm_1" placeholder="Enter value here" size="25">
							</div>
							<div class="form-group">
								<label for="aForm_1">Infrastructure Budget Increase %</label>
								<input type="text" id="aForm_1" placeholder="Enter value here" size="25">
							</div>
							<div class="form-group">
								<label for="aForm_1">Hashtag Increase </label>
								<input type="text" id="aForm_1" placeholder="Enter value here" size="25">
							</div>
							<div class="form-group">
								<label for="aForm_1">Geotaged Increase</label>
								<input type="text" id="aForm_1" placeholder="Enter value here" size="25">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>