<div class="container-fluid">
    <div class="card">
      	<div class="card-header custom-bg">Simulator</div>
      	<div class="card-block">
        	<div class="row">
          		<div class="col-lg-8">
					<div class="card">
						<div class="card-header custom-bg">TGIF Score and Tourist Visit </div>
						<div class="card-block">
						
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div class="card-header custom-bg">External Factor</div>
						<div class="card-block">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>