<div class="container-fluid">
	<div class="card">
		<div class="card-header custom-bg">Global Overview</div>
		<div class="card-block">
			<div class="row">
				<div class="col-lg-8">
					<div class="card">
						<div class="card-header custom-bg">Tourist Visit</div>
						<div class="card-block">
							<div echarts [options]="options" class="echart"></div>
							<div class="row" style="margin-top: 20px;">
								<div class="col-lg-6"><div echarts [options]="trees" (chartClick)="onChartClick($event)" class="echart"></div></div>
								<div class="col-lg-6"><div echarts [options]="treess"  (chartClick)="onChartClick($event)" class="echart"></div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div class="card-header custom-bg">Location</div>
						<div class="card-block" align="center">
							<div>
								<div class="loc" align="center" (click)="goLoc()">
									<div class="circles">
										<h6>32%</h6>
									</div>
								</div>
								<div class="loc" align="center" (click)="goLoc()">
									<div class="circles">
										<h6>23%</h6>
									</div>
								</div>
								<div class="loc" align="center" (click)="goLoc()">
									<div class="circles">
										<h6>12%</h6>
									</div>
								</div>
								<div class="loc" align="center" (click)="goLoc()">
									<div class="circles">
										<h6>12%</h6>
									</div>
								</div>
								<div class="loc" align="center" (click)="goLoc()">
									<div class="circles">
										<h6>7%</h6>
									</div>
								</div>
								<div class="loc" align="center" (click)="goLoc()">
									<div class="circles">
										<h6>7%</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer" align="center">
							<p class="tits">Malioboro</p>
							<p class="tits">Keraton Yogyakarta</p>
							<p class="tits">Candi Borobudur</p>
							<p class="tits">Goa Pindul</p>
							<p class="tits">Alun-alun Kidul</p>
							<p class="tits">Gunung Kidul</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header custom-bg">TGIF</div>
						<div class="card-block" align="center">
							<div class="locs" align="center">
								<p>PULL</p>
								<div class="circle" style="background-color: #DFA100;" (click)="goSim()">
									<h6>1890</h6>
								</div>  
							</div>
							<div class="locs" align="center">
								<p>PUSH</p>
								<div class="circle" style="background-color: #318700;" (click)="goSim()">
									<h6>3441</h6>
								</div>  
							</div>
							<div class="locs" align="center">
								<p>FRICTION</p>
								<div class="circle" style="background-color: #006690;" (click)="goSim()">
									<h6>3220</h6>
								</div>  
							</div>
							<div class="locs" align="center">
								<p>TGIF SCORE</p>
								<div class="circle" style="background-color: #E62700;" (click)="goSim()">
									<h6>2111</h6>
								</div>  
							</div>
						</div>
						<div class="card-footer" align="center">
							<select>
								<option>All Location</option>
								<option>Malioboro</option>
								<option>Keraton Yogyakarta</option>
								<option>Candi Borobudur</option>
								<option>Goa Pindul</option>
								<option>Alun-alun Kidul</option>
								<option>Gunung Kidul</option>
							</select>
							<select>
								<optgroup label="MancaNegara"></optgroup>
								<option [value]="0">All Tourist</option>
								<option [value]="1">Belanda</option>
								<option [value]="2">Malaysia</option>
								<option [value]="3">Jepang</option>
								<option [value]="4">Amerika Serikat</option>
								<option [value]="5">Singapura</option>
								<option [value]="6">Perancis</option>
								<option [value]="7">Jerman</option>
								<option [value]="8">Australia</option>
								<option [value]="9">Cina</option>
								<option [value]="10">MancaNegara</option>
								<optgroup label="Domestik"></optgroup>
								<option [value]="11">Jawa Timur</option>
								<option [value]="12">Jawa Tengah</option>
								<option [value]="13">Jawa Barat</option>
								<option [value]="14">DKI Jakarta</option>
								<option [value]="15">Kalimantan Timur</option>
								<option [value]="16">Banten</option>
								<option [value]="17">Kalimantan Barat</option>
								<option [value]="18">Domestik</option>
							</select>
							<select>
								<option [value]="0">YTD</option>
								<option [value]="1">Jan</option>
								<option [value]="2">Feb</option>
								<option [value]="3">Mar</option>
								<option [value]="4">Apr</option>
								<option [value]="5">MAy</option>
								<option [value]="6">Jun</option>
								<option [value]="7">Jul</option>
								<option [value]="8">Aug</option>
								<option [value]="9">Sep</option>
								<option [value]="10">Oct</option>
								<option [value]="11">Nov </option>
								<option [value]="12">Dec</option>
							</select>
						</div>
					</div>
					<div class="card">
						<div class="card-header custom-bg">Action Plan</div>
						<div class="card-block" align="center">
							<div class="col-lg-12">
								<div class="row" align="center" (click)="plan();" style="cursor: pointer;">
									<div class="col-lg-4" align="center">
										<p>PULL</p><div style="height: 5px; width: 100px; background-color: #007CBB; margin-bottom: 5px;"></div>
										<button class="btn btn-outline" style="margin:7px;">Promote Hashtag</button>
										<button class="btn btn-outline" style="margin:7px;">Special Event</button>
										<button class="btn btn-outline" style="margin:7px;">New Attraction</button>
									</div>
									<div class="col-lg-4" align="center" >
										<p>PUSH</p><div style="height: 5px; width: 100px; background-color: #318700; margin-bottom: 5px;"></div>
										<button class="btn btn-success-outline" style="margin:7px;">Tourism Ad</button>
										<button class="btn btn-success-outline" style="margin:7px;">Tourism Event</button>
										<button class="btn btn-success-outline" style="margin:7px;">Travel Promo</button>
									</div>
									<div class="col-lg-4" align="center">
										<p>FRICTION</p><div style="height: 5px; width: 100px; background-color: #D36000; margin-bottom: 5px;"></div>
										<button class="btn btn-warning-outline" style="margin:7px;">Rest Area</button>
										<button class="btn btn-warning-outline" style="margin:7px;">Reduce Ticket Price</button>
										<button class="btn btn-warning-outline" style="margin:7px;">Map in City Corner</button>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer" align="center">
								<div class="col-lg-12">
									<div class="row" align="center">
										<div class="col-lg-4" align="center">
											<div class="arrow-up" style="border-bottom: 10px solid #007CBB;"></div>
										</div>
										<div class="col-lg-4" align="center">
											<div class="arrow-up" style="border-bottom: 10px solid #318700;"></div>
										</div>
										<div class="col-lg-4" align="center">
											<div class="arrow-up" style="border-bottom: 10px solid #D36000;"></div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
        

